<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-sRIl4kxILFvY47J16cr9ZwB07vP4J8+LH7qKQnuqkuIAvNWLzeN8tE5YBujZqJLB" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-FKyoEForCGlyvwx9Hj09JcYn3nv7wiPVlz7YYwJrWVcXK/BmnVDxM+D2scQbITxI"
        crossorigin="anonymous"></script>
    <link rel="stylesheet" href="/styles.css">
    <link rel="shortcut icon" href="/images/AdminLogo.png" type="image/x-icon">
    <script src="/jav.js" defer></script>
    <title>Administ Login</title>
</head>

<body>
    <nav id="navB" class="navbar navbar-expand-lg navbar-light bg-light">
        <a href="/dashboard"><img class="ms-2" src="/images/AdminLogo.png" alt="AdministLogo"
                style="width: 50px; height: auto;"></a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item active">
                    <a class="nav-link" href="/">Log out</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/records">Record</a>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button"
                        data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        Dropdown
                    </a>
                    <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                        <a class="dropdown-item" href="#">Action</a>
                        <a class="dropdown-item" href="#">Another action</a>
                        <div class="dropdown-divider"></div>
                        <a class="dropdown-item" href="#">Something else here</a>
                    </div>
                </li>
                <li class="nav-item">
                    <a class="btn btn-light nav-link" data-bs-toggle="modal" data-bs-target="#settingsBackdrop"><img
                            class="me-1 gearIcon" src="/images/gear.svg" alt="gear.svg">Settings</a>
                </li>
            </ul>
        </div>
    </nav>
    <div class="container mt-5">
        <div class="row align-middle loginbox d-flex justify-content-center">
            <img style="width: 20%; height: auto;" src="/images/AdminLogo.png" alt="AdminLogo.png">
            <form class="" action="/verify" method="POST" id="login">
                <label for="username">Username:</label><br>
                <input name="username" type="text"><br>
                <label for="passkey">Passkey:</label><br>
                <input name="passkey" type="text"><br>
            </form>
            <div class="row">
                <button class="btn btn-primary w-25" form="login" type="submit">Login</button>
                <a style="font-size: 20px;" href="/dashboard">Go to dashboard</a>
            </div>
        </div>
    </div>
</body>

</html>